:root {
  --background-card: #fff;
  --background-learn: #f8f8f8;
  --background-internal: #f3f4f5;
  --box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
  --color-text: #172533;
  --color-text-soft: #626e76;
  --color-accent: #7c47c0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f7f8f8;
}

.card {
  width: 24.7rem;
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 600;
}

.learn h1 {
  font-size: 1.8rem;
  font-weight: 900;
}

.learn label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}

input {
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  background-color: #f3f4f5;
  /* text-align: left; */
  padding-left: 2rem;
  font-size: 1.08rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

button {
  height: 4rem;
  border-radius: 10px;
  background-color: #7c48bf;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#password {
  font-weight: 600;
  letter-spacing: 2px;
}

#checkbox {
  width: 1.3rem;
}

#label-checkbox {
  position: relative;
  top: -0.4rem;
  padding-left: 0.2rem;
}

.error {
  border: 2px solid red;
}
